:root {
  --main-color: #8AAAE5;
}


/* Color block */

.section-1 {
  background-color: #101820;
}

.section-2 {
  background-color: #FEE715;
}

.section-3{
  background-color: #E2D1F9;
}

.section-4{
  background-color: #317773;
}

.section-5{
  background-color: #8AAAE5;
}

.section-6{
  background-color: #fff;
}

.section-7{
  background-color: #FF69B4;
}

.section-8{
  background-color: #00FFFF;
}

.section-9{
  background-color: #ADD8E6;
}

.section-10{
  background-color: #00008B;
}

.section-11{
  background-color: #89ABE3;
}

.section-12{
  background-color: #EA738D;
}

.section-13{
  background-color: #FCEDDA;
}

.section-14{
  background-color: #EE4E34;
}

.section-15{
  background-color: #990011;
}

.section-16{
  background-color: #FCF6F5;
}

.section-17{
  background-color: #CCF381;
}

.section-18{
  background-color: #4831D4;
}

.section-19{
  background-color: #F96167;
}

.section-20{
  background-color: #F9E795;
}

.section-21{
  background-color: #2F3C7E;
}

.section-22{
  background-color: #FBEAEB;
}

.section-23{
  background-color: #00539C;
}

.section-24{
  background-color: #EEA47F;
}

.section-25{
  background-color: #CC313D;
}

.section-26{
  background-color: #F7C5CC;
}

.section-27{
  background-color: #2C5F2D;
}

.section-28{
  background-color: #97BC62;
}

.section-29{
  background-color: #2BAE66;
}

.section-30{
  background-color: #FCF6F5;
}